.portfolio .section-container {
  margin: $margin-main 0;
  // border: 1px solid red;
  h2 {
    // border: 1px solid red;
    text-align: center;
  }
}

#portfolio-heading {
  span {
    // border: 1px solid red;
    padding: 1.5%;
    border-bottom: 2px solid $dark-gray;
    box-shadow: 0 2px 2px -2px gray;

  }
}

.portfolio-projects {
  margin-top: $margin-main*2;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
  align-items: center;
  justify-content: center;
}

.project {
  max-width: 400px;
  height: 500px;
  margin: $margin-main;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);

  background-color: $white;
  transition: all 0.25s ease-in-out;
  border-radius: 25px;
  overflow: hidden;
  &:hover {
    transform: scale(1.15);
    z-index: 1;
    .code {
      color: $dark-red;
    }
    .project-title {
      font-weight: 500;
    }
    span:first-of-type {
      transform: translateX(-6px);
    }
    span:last-of-type {
      transform: translateX(6px);
    }
    .stack {
      li {
        background-color: $sand;
        color: $silver;
      }
    }
  }
  .projects-meta {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // align-content: space-around ;
    justify-content: space-between;
    // border: 1px solid $blue;
    height: 50%;
    // h3, div, p, ul {
    //   border: 1px solid $blue;
    // }
  }
  .code {
    color: $blue;

    display: inline-block;
    transition: all 0.3s ease-in-out;
  }
  .links-list {
    display: flex;
    justify-content: center;
  }
  .link {
    background-color: $blue;
    padding: 8px 20px;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 1px 1px 2px  rgba(0,0,0,0.6);
    &:active {
      transform: translateY(2px);
    }
    &:hover{
      filter: brightness(1.15)
    }
    a {
      color: $white;
    }
  }
  .project-description {
    font-family: 'Fira Mono', monospace;
    font-size: 0.8rem;
    color: $gray;
    padding: $padding-main;
  }
  .stack {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5px;
    li {
      font-size: 1rem;
      margin: 5px 0;
      color: $gray;
      // border: $border-blue;
      // background-color: $yellow-light;
      border-radius: $radius-1;
      padding: 5px 10px;
      border: 2px solid $yellow;
    }
  }
}


.projects-image {
  object-fit: cover;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #eaeaea;
}

.project-title {
  text-align: center;
  color: $dark-gray;
}

.project-description {
  // display: none;
  // border: 1px solid $blue;
  /* width: 50vw; */
}



