@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap');

// body {
//   position: relative;
// }

// SECTIONS

section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  z-index: -10;
  padding: 10px 0;
  border-bottom: 1px solid $light-gray;
  padding-top: 70px; 
  // margin-top: -40px;
}

.section-container, .quote {
  margin: 0 3%;
}

.section-container {
  // border: 1px solid $blue;
  width: 100%;
}

h2 {
  color: $dark-red;
  font-size: 1.5rem;
  font-weight: 500;
  margin: $margin-main 0;
}



.next-section {
  width: 5%;
  margin-top: 5%;
  height: 45px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  i {
    color: $dark-sand;
    font-size: 1.75rem;
    position: absolute;
    top: 0;
    animation: MoveUpDown 1.5s ease infinite;
    padding: 20px;
    &:hover {
      color: $dark-red;
      animation: MoveUpDown 0.75s ease infinite;
    }
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    top: 5px;
  }
  50% {
    top: 10px;
  }
}

@media only screen and (min-width: 993px) {
  section {
    padding-top: 0;
  }
}