.nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blue;
  position: sticky;
  top: 0;
  height: 51px;
  z-index: 10;
}

.logo-container {
  background-color: $blue;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
}

.avatar {
  display: none;
}

.logo {
  font-size: 1.5rem;
  color: $white;
  /* ! optional */
  /* font-weight: 600; */
}

.logo,
.nav-link {
  padding-left: 2vw;
}

.nav-link {
  color: $light-gray;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
}

.active {
  color: $white;
  letter-spacing: 2px;
  font-size: 1rem;
  // background-color: $darker-sand;
  // border-bottom: 3px solid $sand;
}

.nav-lang {
  color:$light-gray;
  background-color: $blue;
  letter-spacing: 2px;
}

.nav-item:nth-of-type(6) {
  // justify-self: end;
  // align-self: end;
  margin-top: 25px;
  border-top: 2px solid $light-blue;
}


.menu a:hover {
  color: $dark-gray;
}

#toggle {
  display: none;
  position: relative;
}

.menu {
  /* text-align: center; */
  width: 100%;
  position: absolute;
  top: 80px;
  transition: 5s ease-in-out;
  position: fixed;
  top: -320px;
  background-color: $blue;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: -1;
}

.menu a {
  display: block;
  height: 40px;
  line-height: 40px;
  /* border-bottom: 1px solid #eaeaea; */
  margin: 0;
}

/* Dropdown menu when checked*/
input[type="checkbox"]:checked ~ .menu {
  top: 50px;
  z-index: -1;

}

/* ========= Hamburger Button ========== */
.menu-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 55px;
  height: 50px;
  cursor: pointer;
  margin-right: 2vw;
  z-index: 10;
  background-color: $blue;
}

.menu-btn__burger {
  width: 40px;
  height: 4px;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  align-self: center;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  background: $dark-gray;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-12px);
}

.menu-btn__burger::after {
  transform: translateY(12px);
}

/* ========= Animate Hamburger Button ========== */

input[type="checkbox"]:checked ~ label > .menu-btn > .menu-btn__burger {
  background: transparent;
  box-shadow: none;
}
#toggle:checked ~ label > .menu-btn > .menu-btn__burger::before {
  transform: rotate(45deg);
}
input[type="checkbox"]:checked ~ label > .menu-btn > .menu-btn__burger::after {
  transform: rotate(-45deg);
}

// @media only screen and (max-width: 992px) {
//   .menu {
//     width: 100vw;
//   }
// }


// @media only screen and (min-width: 993px) and (min-height: 810px)  {
//   body {
//     display: flex;
//   }
//   .nav {
//     position: sticky;
//     min-height: 150vh;
//     left: 0;
//     max-width: 300px;
//     flex-direction: column;
//     justify-content: center;
//     z-index: 0;
//   }
//   .nav-link {
//     padding-left: 0;
//   }
//   .toggle {
//     display: none;
//   }
//   .logo-container {
//     position: fixed;
//     top: 15vh;
//     justify-content: center;
//     flex-direction: column;
//     width: 250px;
//     min-height: 250px;
//   }
//   .logo {
//     display: none;
//   }
//   .menu {
//     position: fixed;
//     top: 45vh;
//     // width: ;
//     // width: 100px;
//     // height: 90%;
//     // position: inherit;
//     text-align: center;
//   }
//   .avatar-container {
//     width: 205px;
//     height: 205px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 50%;
//     background-color: $lighter-blue;
//   }
//   .avatar-container2 {
//   width: 190px;
//   height: 190px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 50%;
//   background-color: $light-blue;
// }
//   .avatar {
//     width: 180px;
//     height: 180px;
//     display: block;
//     border-radius: 50%;
//   }
//   section {
//     width: 75vw;
//   }
// }