$dark-orange: #C8782F;
$dark-sand: #d3932d;
$sand: #E1B878;
$darker-sand: #d49b3e;
$yellow: #f1d17f;
$yellow-light: #e4ab1ac0;

$blue: #75ACC0;
$lighter-blue: #7ab4c9;
$light-blue: #92b9c7;
$dark-red: #66202A;
$gray: #757780;
$silver: #5d5d5a;
$light-gray: #e4e4e4;
$dark-gray: #2c2c2c;
$white: #ffffff;

$margin-main: 2%;
$padding-main: 2%;

$border-blue: 1px solid $blue;
$radius-1: 25px;